<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8" />
  <title>Welcome to Vue</title>
  <link rel="stylesheet" href="style.css" />
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.11/dist/vue.js"></script>
</head>
<body>
  <div id="app" class="container">
    <div class="title">
      <h1>Typing Game</h1>
      <div class="marker"></div>
    </div>
    <button v-if="startFlag != true" class="startButton mb-20" @click="gameStart">
      START
    </button>
    <div v-if="startFlag">
      <div class="question mb-20">{{currentQuestion}}</div>
      <div v-if="this.initialQuestionCount == this.currentQuestionCount" class="clear mb-20">
        Clear!!!
      </div>
      <button v-if="this.initialQuestionCount == this.currentQuestionCount" class="startButton mb-20" @click="againGameStart">
        Play Again
      </button>
      <div v-if="this.initialQuestionCount != this.currentQuestionCount" class="typeFormWrapper mb-20">
        <input id="typeForm" v-model="typeBox" type="text" class="typeForm" />
      </div>
      <div class="gaugeWrapper mb-20">
        <div v-bind:style="styleObject" class="gauge"></div>
      </div>
      <div>{{currentQuestionCount}}/{{initialQuestionCount}}</div>
    </div>
  </div>
  <script>
    new Vue({
      el: "#app",
      data: {
        startFlag: "",
        currentQuestion: "",
        questions: [
          'amazon',
          'blade',
          'chine',
          'demon',
          'evidence',
          'pants'
        ],
        typeBox: "",
        currentQuestionCount: 0,
        questionCount: 0,
        initialQuestionCount: 0
      },
      computed: {
        styleObject: function () {
          width = (100 / this.initialQuestionCount) * this.currentQuestionCount + "%"
          if (this.currentQuestionCount == this.initialQuestionCount) {
            color = "#03a9f4"
          }
          else {
            color = "orange"
          }
          return {
            'width': width,
            'background-color': color
          }
        }
      },
      methods: {
        gameStart() {
          this.startFlag = true;
          this.initialQuestionCount = this.questions.length
          this.questions = this.arrayShuffle(this.questions)
          this.currentQuestion = this.questions[0]
          this.$nextTick(function () {
            document.getElementById('typeForm').focus()
          })
        },
        againGameStart() {
          this.currentQuestionCount = 0
          this.questionCount = 0
          this.arrayShuffle(this.questions)
          this.currentQuestion = this.questions[0]
          this.$nextTick(function () {
            document.getElementById('typeForm').focus()
          })
        },
        arrayShuffle(questions) {
          for (let i = questions.length - 1; 0 < i; i--) {
            let rand = Math.floor(Math.random() * (i + 1))
            let tmpData = questions[i]
            questions[i] = questions[rand]
            questions[rand] = tmpData
          }
          return questions
        }
      },
      mounted: function () {
        //this.currentQuestion = this.questions[0]
      },
      watch: {
        typeBox: function (e) {
          if (e == this.currentQuestion) {
            this.questionCount = this.questionCount + 1
            this.currentQuestion = this.questions[this.questionCount]
            this.typeBox = ""
            this.currentQuestionCount = this.currentQuestionCount + 1
          }
        }
      }
    })
  </script>
</body>
</html>